<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mktm.ts3tools.s3sr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mktm.ts3tools.s3sr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mktm.ts3tools.s3sr.Properties.Settings>
            <setting name="Steam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlertInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ScriptTesting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerifyDuplicatedInstances" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdvancedStatistics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathStore" serializeAs="String">
                <value />
            </setting>
            <setting name="PathStore_SearchSubFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathStore_Alternative" serializeAs="String">
                <value />
            </setting>
            <setting name="DecryptStoreFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="PathCustom_SearchSubFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="PathBASE" serializeAs="String">
                <value />
            </setting>
            <setting name="PathEP01" serializeAs="String">
                <value />
            </setting>
            <setting name="PathSP01" serializeAs="String">
                <value />
            </setting>
            <setting name="PathEP02" serializeAs="String">
                <value />
            </setting>
            <setting name="PathSP02" serializeAs="String">
                <value />
            </setting>
            <setting name="PathEP03" serializeAs="String">
                <value />
            </setting>
            <setting name="PathSP03" serializeAs="String">
                <value />
            </setting>
            <setting name="PathEP04" serializeAs="String">
                <value />
            </setting>
            <setting name="PathSP04" serializeAs="String">
                <value />
            </setting>
            <setting name="PathEP05" serializeAs="String">
                <value />
            </setting>
            <setting name="PathSP05" serializeAs="String">
                <value />
            </setting>
            <setting name="PathEP06" serializeAs="String">
                <value />
            </setting>
        </mktm.ts3tools.s3sr.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <mktm.ts3tools.s3sr.Properties.Settings>
            <setting name="UpdateURL" serializeAs="String">
                <value>https://raw.github.com/mktm/s3sr/master/app.version</value>
            </setting>
        </mktm.ts3tools.s3sr.Properties.Settings>
    </applicationSettings>
</configuration>